ul {
  li {
    border-radius: 0.25rem;
    border: 0.0625rem solid #c6c8ca;
    margin-bottom: 20px;
    padding: 1rem 1rem .5rem;
    background-color: #f8f8f8;
    transition: .3s;

    &:hover {
    }


  }
}
