<div *ngIf="job?.status != activeJobStatus" class="container my-10 alert alert-warning">
  <ng-container *ngFor="let st of statuses | keyvalue">
    <ng-container *ngIf="st.value == job?.status">Status: {{st.key}}</ng-container>
  </ng-container>
</div>

<div class="container" [style]="job?.status != activeJobStatus ? 'opacity: 0.3': '' ">
  <h2>{{job?.name}}</h2>


  <div class="content">
    <article>
      <div class="lead">{{job?.description}}</div>

      <article>{{job?.article}}</article>
    </article>

    <div class="company-sidebar lead">
      <p>
        <!-- if image -->
        <img *ngIf="job?.company?.logoImagePath"
              [alt]="job?.name"
              [src]="'https://localhost:4000' + job?.company?.logoImagePath"
              height="64"
              width="140">
        <!-- else no image -->
        <img *ngIf="!job?.company?.logoImagePath" alt="" src="https://via.placeholder.com/140x64.png?text=Logo">

      </p>
      <p>Company: <a [href]="job?.company?.url" target="_blank">{{job?.company?.name}}</a></p>
      <p>Location: {{job?.location}}</p>
    </div>

  </div>


</div>
