<div class="container">

  <section class="hero">

  </section>

  <!--<section class="subscribe">-->
  <!--  <div class="title">Create a job alert!</div>-->
  <!--  <div>Be the first to apply - get alerts with the latest jobs sent directly to your inbox.</div>-->

  <!--  <div>-->
  <!--    <input placeholder="ex. mail@gmail.com" type="text" name="email" id="email" class="mr-10">-->
  <!--    <input type="button" value="Subscribe" class="btn btn-primary">-->
  <!--  </div>-->
  <!--</section>-->


  <!-- Jobs -->
  <section class="latest-jobs">
    <h2>Recent Jobs</h2>
    <app-jobs-list-rows [jobs]="jobs"></app-jobs-list-rows>

    <div class="d-flex justify-content-center mt-2">
      <a class="btn btn-warning" routerLink="/jobs">Show All</a>
    </div>
  </section>
  <!-- End jobs -->

  <!-- Resumes -->
  <!--<section class="latest-jobs">-->
  <!--  <h2>Recent Resumes</h2>-->
  <!--  &lt;!&ndash; todo resumes add &ndash;&gt;-->
  <!--  <div class="center">-->
  <!--    <a class="btn btn-yellow" routerLink="/resumes">Show All</a>-->
  <!--  </div>-->
  <!--</section>-->
  <!-- End resumes -->

  <!-- Courses -->
  <section class="latest-jobs">
    <h2>Recent Courses</h2>

    <app-courses-card-list [courses]="courses"></app-courses-card-list>

    <div class="d-flex justify-content-center mt-2">
      <a class="btn btn-warning" routerLink="/courses">Show All</a>
    </div>
  </section>
  <!-- End courses -->


  <!-- News -->
  <!--<section class="news">-->
  <!--  <h2>Recent Blog News</h2>-->
  <!--  &lt;!&ndash; TODO add news grid &ndash;&gt;-->
  <!--  <div class="center">-->
  <!--    <a class="btn btn-yellow" routerLink="/blog">Show All</a>-->
  <!--  </div>-->
  <!--</section>-->
  <!-- End news -->


</div>
