<header class="Site-header js-siteHeader">
  <div class="header Header--dark container-fluid">
    <nav class="Header-nav">
      <a routerLink="/"><span>.NET Jobs and Courses</span></a>
      <div class="Header-rightContent">
        <ul class="Header-menu">
          <li class="Header-menuItem ">
            <a routerLink="/jobs">Job List</a>
          </li>

          <li class="Header-menuItem ">
            <a routerLink="/add-job">Post a Job</a>
          </li>

          <li class="Header-menuItem ">
            <a routerLink="/resumes">Resume List</a>
          </li>


          <li class="Header-menuItem ">
            <a routerLink="/add-resume">Post a Resume</a>
          </li>


          <!--Auth-->
          <!--<li class="Header-menuItem ">-->
          <!--  <a routerLink="/login">Login</a>-->
          <!--</li>-->

          <!--<li class="Header-menuItem ">-->
          <!--  <a routerLink="/register">Register</a>-->
          <!--</li>-->
          <!--End auth-->

          <!--<li class="Header-menuItem ">-->
          <!--  <a routerLink="/blog">Blog</a>-->
          <!--</li>-->

        </ul>
      </div>
    </nav>

  </div>
</header>
