.site-header {
  background: #007d9c;
  border-bottom: none;
  box-shadow: 0 0.0625rem 0.125rem rgb(171 171 171 / 30%);
  top: 0;
  width: 100%;
  z-index: 10;
}


@media only screen and (min-width: 57.7rem) {
  .header, .PlayPage {
    padding: 0 1.5rem;
  }
}

.header--dark {
  border-bottom: none;
  color: white;
}

.header-nav {
  align-items: center;
  display: flex;
  height: 3.5rem;
  justify-content: space-between;

  a {
    color: white;
  }
}

@media only screen and (min-width: 32rem) {
  .header-right-content {
    width: 100%;
  }
}

.header-right-content {
  flex: 3;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  width: 100%;
}

@media only screen and (min-width: 57.7rem) {
  .header-menu {
    justify-content: flex-end;
  }
}

.header--dark .header-menu-item a:link, .header--dark .header-menu-item a:visited {
  color: white;
}

.Header-logo {
  display: block;
  height: 2rem;
  margin-right: 2.25rem;
  width: 5.125rem;
}

.header-menu {
  align-items: stretch;
  display: flex;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-menu-item {
  display: none;
}

@media only screen and (min-width: 57.7rem) {
  .header-menu-item {
    align-items: stretch;
    display: inline-flex;
    flex: none;
  }
}


.header-menu-item a:link, .header-menu-item a:visited {
  align-items: center;
  border-bottom: 0.1875rem solid transparent;
  border-top: 0.1875rem solid transparent;
  color: black;
  display: inline-flex;
  margin: 0 0.3125rem;
  padding: 0 0.9375rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
