<header class="site-header">
  <div class="header header--dark container-fluid">
    <nav class="header-nav">
      <a routerLink="/"><span>.NET Jobs and Courses</span></a>
      <div class="header-right-content">
        <ul class="header-menu">
          <li class="header-menu-item ">
            <a routerLink="/courses">Courses</a>
          </li>

          <li class="header-menu-item ">
            <a routerLink="/jobs">Job List</a>
          </li>

          <li class="header-menu-item ">
            <a routerLink="/add-job">Post a Job</a>
          </li>

          <li class="header-menu-item ">
            <!--<a routerLink="/resumes">Resume List</a>-->
          </li>


          <li class="header-menu-item ">
            <!--<a routerLink="/add-resume">Post a Resume</a>-->
          </li>


          <!--Auth-->
          <!--<li class="Header-menuItem ">-->
          <!--  <a routerLink="/login">Login</a>-->
          <!--</li>-->

          <!--<li class="Header-menuItem ">-->
          <!--  <a routerLink="/register">Register</a>-->
          <!--</li>-->
          <!--End auth-->

          <!--<li class="Header-menuItem ">-->
          <!--  <a routerLink="/blog">Blog</a>-->
          <!--</li>-->

        </ul>
      </div>
    </nav>

  </div>
</header>
