<footer class="site-footer">
  <div class="footer">
    <div class="container">
      <div class="footer-links">
        <div class="footer-link-column">
          <a class="footer-link footer-link--primary">Job</a>
          <!--<a class="Footer-link" routerLink="/resumes">Resumes</a>-->
          <a class="footer-link" routerLink="/jobs">Jobs</a>
        </div>
        <div class="footer-link-column">
          <a class="footer-link footer-link--primary">Learn .NET</a>
          <a class="footer-link" routerLink="/courses">Courses</a>
        </div>

        <div class="footer-link-column">
          <a class="footer-link footer-link--primary">About</a>
          <!--<a class="Footer-link" routerLink="/blog">Blog</a>-->
          <!--<a class="Footer-link" routerLink="/pages/about">Abous Us</a>-->
          <!--<a class="Footer-link" routerLink="/pages/contact">Contact</a>-->
        </div>

        <div class="footer-link-column">
          <a class="footer-link footer-link--primary">Social</a>
          <!--<a class="Footer-link" href="https://twitter.com/" target="_blank">Twitter</a>-->
          <!--<a class="Footer-link" href="https://facebook.com/" target="_blank">Facebook</a>-->
          <!--<a class="Footer-link" href="https://instagram.com/" target="_blank">Instagram</a>-->
        </div>

      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container container--fullBleed">
      <div class="footer-bottom">
        <div><a routerLink="/">.NET Jobs and Courses</a></div>
        <ul class="footer-listRow">
          <li class="footer-listItem">
            <!--<a routerLink="/copyright">Copyright</a>-->
          </li>
          <li class="footer-listItem">
            <!--<a routerLink="/terms">Terms of Service</a>-->
          </li>
          <li class="footer-listItem">
            <!--<a routerLink="/privacy"> Privacy Policy </a>-->
          </li>
          <li class="footer-listItem">
            <!--<a routerLink="/report-issue" target="_blank"> Report an Issue </a>-->
          </li>

        </ul>

      </div>
    </div>
  </div>
</footer>
