<div class="container-fluid">
  <h2>{{course.name}}</h2>

  <div class="content">
    <article>
      <iframe *ngIf="videoUrl && videoUrl != ''"
              [src]="videoUrl"
              [title]="course.name"
              style="border: none; width: 100%;min-height: 70vh"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>

      <router-outlet></router-outlet>


      <div class="lead">{{course.description}}</div>


      <article>{{course.article}}</article>
    </article>

    <div class="sidebar">
      <div class="lead">
        <img [alt]="course.name"
             [src]="domainUrl + course.image"
             height="64"
             width="120">
        <p>{{course.name}}</p>

        <p><span>Posted by Author: </span><span>{{course.postedByAuthor}}</span></p>
        <p *ngIf="course.updatedByAuthor">
          <span>Updated by Author: </span><span>{{course.updatedByAuthor}}</span></p>
        <p>Language: {{course.language?.name}}</p>
      </div>


      <div class="thumbs">
        <div class="thumb"
             *ngFor="let v of course.courseVideos; let i = index"
             [class.active]="v == courseService.activeCourseVideo">

          <a [routerLink]="'/courses/' + course.id + '/' + v.order">
            <img [src]="v.image" alt="" width="120" height="64">
            <span class="thumb-name">{{v.name}}</span>
          </a>

        </div>
      </div>


    </div>

  </div>


</div>
